body {
    /* cor de fundo */
    background-color: rgb(18, 3, 102);
    /* flexbox */
    display: flex;
    /* alinhamento na horizontal */
    justify-content: center;
    /* alinhamento na vertical */
    align-items: center;
    /* ocupa a tela inteira verticalmente */
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* para referenciar um class usamos .*/
/* usamos class para reutilizar estilos */
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
	color: rgb(18, 3, 102);
    display: flex;              
    flex-direction: column;     
    align-items: center;
    /* espaçamentto vertical entre o componentes */
    gap:20px         
}
button {
    /* sem borda */
    border: none;
    /* cor de fundo */
    background-color: orange;
    /* cor do texto */
    color: black;
    /* cantos arredondados */
    border-radius: 10px;
    /* espaçamento interno */
    padding: 10px 20px;
    /* cria cursor quando mouse passa em cima */
    cursor: pointer;
}
.imagem {
    /* largura */
    width: 120px;
    /* altura */
     height: 120px;
    /* cantos arredondados - foto circular  */
    /* border-radius: 50%; */
    /* borda colorida com espessura, tipo e cor*/
    /* border: 3px solid #007bff */
	
}
.listagem {
	
    list-style: none; /* remove bolinhas */
    padding: 0;
    margin: 20px 0;
	cursor: pointer;
	text-align: center;
	align-items: center;  /* alinha verticalmente */
   
}
.imagem2 {
    width: 25px;
    height: 25px;      /*  faltava isso */
    object-fit: cover; /* mantém proporção sem deformar */
    border-radius: 50%;
    border: 2px solid floralwhite;
}
.h5 {
	color:#a09c9c

}