body {
    margin : 0; font-family: 'segoe UI',suns-serif;
    background-color: #f4f7f6; color:#333

}
.menu{
    background-color: #1e3c72; padding:15px 0;
    position: sticky; /* Menu fica sempore no topo */
     top:0; /*posição 0 - posição acima */
     z-index:1000; /* fica semppre por cima dos outros conteudos*/
     box-shadow:0 2px 10px rgba(0,0,0,0.2); /*caixa de sombra*/
}
.menu-container{
    max-width: 1000px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu-logo{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.lista{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.lista a{
    color: #CBDCF7;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s;
}
.lista a:hover{
    color: #fff;
}
.cabecalho{
    background-color: #2e4c82;
    color: white;
    padding:60px 20px;
    text-align: center;
}
.cabecalho h1{
    font-size: 2.5rem;
    margin-bottom: 5px;

}
.cabecalho h2{
    font-weight: 300;
    font-style: italic;
    color:#ffd700;
}
.principal{
    max-width: 900px;
    margin: -40px auto 40px;
    padding: 20px ;
}
.missao-valores{
   background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.pilar2{
    background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.caixas2{
     width: 500px;
  height: 150px;
  background-color: rgb(230, 241, 245);
  padding: 10px;
  box-shadow:0 2px 10px rgba(0,0,0,0.2); /*caixa de sombra*/
  border-radius: 10px;
  border-left: 5px solid blue;
  
}
.principal2{

    gap: 60px;
   background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
   display: flex;      /* faz os elementos ficarem lado a lado */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
}
.principal3{
     gap: 60px;
   background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
   
}
.cards3 {
  background-color: rgb(241, 243, 241);
  padding: 10px 15px;
  height: 20px;
  margin: 5px;
  border-radius: 10px;
  color: rgb(4, 179, 4);
  display: flex;         
  align-items: center;     
  text-align: center;      
}